.wack::before {
  content: '/';
}
.inline-list {
  list-style: none;
  padding: 0;
}
.inline-list > li {
  display: inline-block;
}
.inline-list > li::before {
  content: '|';
  padding: 10px;
}
.inline-list > li:first-child::before {
  content: '';
  padding-left: 0;
}
.resume-align-right {
  text-align: left;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: 122px;
}
.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .resume-align-right {
    text-align: right;
  }
}
