$body-typeface: 'Montserrat', sans-serif
$logo-typeface: 'Montserrat Subrayada', sans-serif
$heading-typeface: 'Raleway', sans-serif

$theme-color-main: #2185BF
$theme-color-dark: #0B2C40
$theme-color-light: #2DB1FF
$theme-color-special: #16587F
$body-background: #fff
$text-color: #000