@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Subrayada|Raleway')
@import 'variables'

body
	margin: 0
	font-family: $body-typeface
	background-color: $body-background
	color: $text-color
h1,h2
	font-family: $heading-typeface
	color: $theme-color-main
	text-transform: uppercase
h3,h4,h5,h6
	font-family: $heading-typeface-secondary
	text-transform: uppercase
a
	color: inherit
	text-decoration: none
	&:hover
		text-decoration: underline