@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Subrayada|Raleway");
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color: #fff; }

h1, h2 {
    font-family: "Montserrat Subrayada", sans-serif;
    color: #fff;
    text-transform: uppercase; }

h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase; }

a {
    color: inherit;
    text-decoration: none; }
    a:hover {
        text-decoration: underline; }
