@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Subrayada|Raleway");
#resume .btn, #resume .mainNavContainer .mainNav li, .mainNavContainer .mainNav #resume li {
    font-size: 20px;
    padding: 0; }

#resume ul {
    margin: 0;
    padding: 0; }
    #resume ul li {
        list-style: none;
        margin: 10px 0; }
    #resume ul li.inline {
        display: inline-block;
        margin-right: 10px; }
        #resume ul li.inline:last-child {
            margin-right: 0; }

#resume article {
    position: relative; }

#resume .bgicon {
    position: absolute;
    font-size: 250px;
    color: #2185BF;
    opacity: 0.2;
    right: 30px;
    bottom: 0;
    z-index: 1;
    font-weight: 900; }

* {
    box-sizing: border-box; }

*:before,
*:after {
    box-sizing: border-box; }

html {
    scroll-behavior: smooth; }

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #000;
    background-color: #fff; }
    body:before {
        content: " ";
        background-image: url(../images/bean.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .25;
        filter: blur(5px); }

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #2185BF; }

h3, h4, h5, h6 {
    color: #0B2C40; }

h1 {
    border-bottom: 1px solid #2185BF; }

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s; }
    a:hover {
        text-decoration: underline;
        color: #2185BF; }

.main {
    width: 100%;
    padding: 150px 0; }

.wrapper {
    width: 90%;
    max-width: 900px;
    margin: 0 auto; }

.btn, .mainNavContainer .mainNav li {
    font-size: 30px;
    display: inline-block;
    padding: 10px;
    text-decoration: none; }
    .btn i, .mainNavContainer .mainNav li i {
        transition: transform 0.3s; }
    .btn:hover, .mainNavContainer .mainNav li:hover {
        text-decoration: none; }
        .btn:hover i, .mainNavContainer .mainNav li:hover i {
            transform: scale(1.11); }

footer.mainFooter {
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid #2185BF; }

article {
    background: #fff;
    padding: 20px;
    margin: 30px 0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }

.mainNavContainer .topBar {
    width: 100%;
    background-color: #2185BF;
    height: 100px;
    position: fixed;
    top: 0; }

.mainNavContainer .logo {
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 40px;
    color: white;
    display: inline-block;
    border: none;
    cursor: default;
    position: fixed;
    top: 0;
    z-index: 100;
    left: 100px; }
    .mainNavContainer .logo a:hover {
        color: inherit; }

.mainNavContainer .menuIcon {
    font-size: 30px;
    padding: 10px;
    margin: 25px;
    cursor: pointer;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    transition: color 0.5s; }

.mainNavContainer #menuToggle {
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0; }

.mainNavContainer #menuToggle[type=checkbox]:checked ~ .menuIcon {
    color: #2185BF; }

.mainNavContainer #menuToggle[type=checkbox]:checked ~ .mainNav {
    margin-left: 0;
    overflow: hidden; }

.mainNavContainer .mainNav {
    width: 300px;
    margin-left: -300px;
    transition: margin-left 0.5s;
    user-select: none;
    background: rgba(0, 0, 0, 0.8);
    min-height: 400px;
    height: 100vh;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 100px; }
    .mainNavContainer .mainNav li {
        list-style: none;
        margin-left: 30px;
        padding: 10px;
        display: block; }

.externalLink:after {
    content: "\f35d";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 10px;
    margin: 10px;
    vertical-align: text-top; }

body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5; }

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5; }

body::-webkit-scrollbar-thumb {
    background-color: #2185BF;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); }
