.wack::before {
  content: '/';
}
.inline-list {
  list-style: none;
  padding: 0;
}
.inline-list > li {
  display: inline-block;
}
.inline-list > li::before {
  content: '|';
  padding: 10px;
}
.inline-list > li:first-child::before {
  content: '';
  padding-left: 0;
}
.resume-align-right {
  text-align: left !important;
}
@media (min-width: 768px) {
  .resume-align-right {
    text-align: right !important;
  }
}
